[user]
    name = Marco
    email = mrckndt@riseup.net
[core]
    compression = 9
    excludesfile = ~/.gitignore
[color]
    ui = auto
[diff]
    tool = nvim -d
[push]
    default = current
[pull]
    rebase = false
[fetch]
    prune = true
[help]
    autocorrect = 1
[init]
    defaultBranch = main
